################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.sqlite-journal
*.sqlite
*.JSON
*.suo
*.json
*.vs
.vs/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.pyproj
*.sln